html {
	/* Set the rem */
	font-size: 16px;
	padding: 0;
	margin: 0;
}
body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #222;
	background: #fdfdfc;
}

a {
	color: #009DFF;
	text-decoration: none;
}
a:visited {
	color: #1a6ee2;
}
a:hover {
	color: #124a99;
	text-decoration: underline;
}

.muted {
	color: #c9c9c9;
}

* {
	box-sizing: border-box;
}

header {
	background: #f7f7f6;
	padding: 1.5rem 2rem;
}

img {
	border: none;
}
header img.logomark {
	margin-left: -0.5rem;
	margin-bottom: 0.25rem;
	height: 2.2rem;
}

/* Responsive body */
main {
	display: flex;
	flex-wrap: wrap;
}

nav {
	padding: 2rem 2rem 1rem;
	flex: 1;
	min-width: 250px;
	border-right: 1px solid #f0f0f0;
}

section.markdown-body {
	padding: 2rem 2rem 8rem;
	flex: 4;
	min-width: 400px;
  max-width: 980px;
  margin: 0 auto;
}

/* Fix crazy top spacing for top-of-doc titles */
section.markdown-body > .current-file + h1,
section.markdown-body > .current-file + h2,
section.markdown-body > .current-file + h3 {
	margin-top: 0 !important;
}

.current-file {
	color: #c9c9c9;
	font-size: 0.875rem;
	font-weight: 600;
	text-transform: uppercase;
	character-spacing: 0.05em;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 1rem;
}

#path a {
	padding: 0.25rem 0.75rem 0.25rem 0;
	white-space: nowrap;
	display: inline-block;
}
/* Current folder, since it's last */
#path a:last-child {
	color: #555;
}
#path a:last-child:hover {
	color: #009DFF;
	text-decoration: none;
}


#menu ul {
	margin: 0;
	padding: 0;
	border: none;
}

#menu li {
	list-style: none;
	max-width: 100%;
}
#menu li a {
	display: block;
	font-size: 0.875rem;
	overflow-x: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
	padding: 0.125rem 0;
}

#menu li.page {
}
#menu li.folder {
}
#menu li.current {
}
#menu li.current a {
	color: #f56c4a; /* orange-1 */
}

@media print {
	#menu {
		display: none;
	}
	nav {
		display: none;
	}
	header {
		padding-bottom: 0;
		background: none;
	}
	section.markdown-body {
		font-size: 75%;
		line-height: 1.4em;
		padding-bottom: 0;
	}
}
